html, body{
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.grid-container{
    width: 100%;
    margin-top: 20vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "logo logo" 
    "image name" 
    "image description" 
    "image buttons";

}


.content1 {
    grid-area: logo;
    background-color: #88C0D0;
    padding: 2em;
}

.content2 {
    background-color: orange;
    grid-area: image;
    padding: 4em;
}

.content2 img {
    max-width: 100%;
    min-height: 100%;
    /* height: auto; */
    /* min-height: 100%; */
    /* width: 25em;  */
    vertical-align: middle;
    text-align: center;
}

.content3 {
    background-color: #434C5E;
    grid-area: name;
    padding: 3em;
}

.content4 {
    background-color: red;
    padding: 2em;
    grid-area: description;
}

.content5 {
    background-color: purple;
    grid-area: buttons;
}